<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Rice Crew{% endblock %}</title>

        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}" />
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Merriweather|Open+Sans:400,300' />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/components.css') }}" />

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/hammer.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/util.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                var menu = $('nav#mainnav ul'), toggleFunc = function() { menu.toggleClass('expanded'); };
                if (util.touchSupported) Hammer(document.getElementById('menulink')).on('tap', toggleFunc);
                else $('a#menulink').on('click', toggleFunc);
            });
        </script>

        {%- block extrahead %}{% endblock -%}
    </head>

    <body>
        <header>
            <nav id="mainnav"><div class="pagewidth">
                    <a id="homelink" class="capsule" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/R.svg') }}" /></a>
                    <a id="menulink" class="capsule"><img src="{{ url_for('static', filename='img/menu.svg') }}" /></a>
                    <ul class="nobullet horizontal">
                        <li><a class="capsule" href="{{ url_for('blog') }}">NEWS</a></li>
                        <li><a class="capsule" href="{{ url_for('about') }}">ABOUT</a></li>
                        <li>{% if has_login() %}
                            <a class="capsule" href="{{ url_for('logout', next=request.path) }}">LOG OUT</a>
                        {% else %}
                            <a class="capsule" href="{{ url_for('login', next=request.path) }}">LOG IN</a>
                        {% endif %}</li>
                    </ul>
            </div></nav>

            {% block hero %}{% endblock %}

            <div id="breadcrumbs"><div class="pagewidth"><ol>
                {%- block breadcrumbs %}
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    {% for name, url in breadcrumbs %}
                        {% if url %}
                            <li><a href="{{ url }}">{{ name }}</a></li>
                        {% else %}
                            <li>{{ name }}</li>
                        {% endif %}
                    {% endfor %}
                {% endblock -%}
            </ol></div></div>
        </header>

        <main class="pagewidth">{% block content %}{% endblock %}</main>

        <footer><div class="pagewidth">
            <ul>
                <li><a href="http://facebook.com/riceclubcrew">
                    <svg width="320px" height="320px" viewBox="0 0 320 320" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                            <path d="M167.400012,270 L62.003983,270 C55.3699823,270 50,264.625634 50,257.996017 L50,62.003983 C50,55.3699823 55.3743663,50 62.003983,50 L257.996017,50 C264.630018,50 270,55.3743663 270,62.003983 L270,257.996017 C270,264.630018 264.625634,270 257.996017,270 L201.892853,270 L201.892852,184.716091 L230.396995,184.728804 L234.6784,151.638672 L201.892852,151.625464 L201.892852,129.388008 C201.892852,129.388008 201.834654,122.498856 205.213391,118.509049 C208.592128,114.519241 216.972552,114.319241 216.972552,114.319241 L235.855597,114.319241 L235.806947,84.5324555 C235.806947,84.5324555 225.361163,83.2612524 213.25899,83.2612479 C201.156818,83.2612433 188.456312,84.6324555 177.876815,96.0929533 C167.297317,107.55345 167.400012,125.067211 167.400012,125.067211 L167.400012,151.611568 L138.700012,151.600006 L138.728191,184.687922 L167.400012,184.700709 L167.400012,270 Z" id="Rectangle-3" fill="#A0A0A0" sketch:type="MSShapeGroup"></path>
                        </g>
                    </svg>
                    facebook.com/riceclubcrew
                </a></li>
                <li><a href="mailto:ricerowing@gmail.com">
                    <svg width="320px" height="320px" viewBox="0 0 320 320" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                            <g id="Path-1-+-Path-2" sketch:type="MSLayerGroup" transform="translate(40.000000, 80.000000)" fill="#A0A0A0">
                                <path d="M10.7283636,45.3641818 C4.803252,42.401626 0,45.3696795 0,52.0000766 L0,147.999923 C0,154.627383 5.37774019,160 12.004317,160 L227.995683,160 C234.625484,160 240,154.630321 240,147.999923 L240,52.0000766 C240,45.3726173 235.203212,42.3983941 229.271636,45.3641818 L130.728364,94.6358182 C124.803252,97.598374 115.203212,97.6016059 109.271636,94.6358182 L10.7283636,45.3641818 Z" id="Path-1" sketch:type="MSShapeGroup"></path>
                                <path d="M240,12.0057298 C240,5.37514832 234.62226,-6.52848115e-14 227.995683,-6.58365848e-14 L12.004317,-8.38214789e-14 C5.37451578,-8.43735207e-14 1.11622698e-14,5.36312722 7.38638744e-15,12.0057298 L6.82446728e-15,12.9942702 C3.05541808e-15,19.6248517 4.79678821,27.3983941 10.7283636,30.3641818 L109.271636,79.6358182 C115.196748,82.598374 124.796788,82.6016059 130.728364,79.6358182 L229.271636,30.3641818 C235.196748,27.401626 240,19.6368728 240,12.9942702 L240,12.0057298 Z" id="Path-2" sketch:type="MSShapeGroup"></path>
                            </g>
                        </g>
                    </svg>
                    ricerowing@gmail.com
                </a></li>
            </ul>
        </div></footer>
    </body>
</html>
