{% extends 'base.html' %}

{% block title %}News - {{ super() }}{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/image_resize.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="column primary">
        {% if has_admin() %}
            <ul class="nobullet horizontal buttonoffset">
                <li><a class="button" href="{{ url_for('entry_create') }}">ADD POST</a></li>
            </ul>
            <div class="separate-top">
        {% endif %}

        {% if entries %}
            <ol class="separate-children nobullet">{% for entry in entries %}
                <li class="entry">
                    <h1><a href="{{ url_for('entry_detail', pk=entry.id) }}" class="quiet">{{ entry.title }}</a></h1>
                    <p class="byline">{{ localtime(entry.timestamp).strftime('%B %d, %Y at %I:%M %p') }}</p>
                    {% set preview, truncated = entry.get_preview(1000, 2) %}
                    {{ preview|safe }}
                    {% if truncated %}<p><a href="{{ url_for('entry_detail', pk=entry.id) }}">Continue Reading</a></p>{% endif %}
                </li>
            {% endfor %}</ol>
        {% else %}
            <p>There is no news to display.</p>
        {% endif %}

        {% if has_admin() %}</div>{% endif %}

        {% if page > 1 or page < max_page %}
            <div class="separate"><ul class="nobullet horizontal buttonoffset">
                {% if page > 1 %}<li><a class="button" href="{{ url_for('blog', page=page-1) }}">NEWER POSTS</a></li>{% endif %}
                {% if page < max_page %}<li><a class="button" href="{{ url_for('blog', page=page+1) }}">OLDER POSTS</a></li>{% endif %}
            </ul></div>
        {% endif %}
    </div>
{% endblock %}
