{% macro form(form, submit_text='Submit') %}
   <ul class="form">{% for field in form %}
        {% if field.widget.__class__.__name__ == 'HiddenInput' %}
            {{ field }}
            {% for error in field.errors %}
                <li class="error">{{ error }}</li>
            {% endfor %}
        {% else %}
            <li><ul class="field">
                <li>{{ field.label }}</li>
                {% if field.description %}
                    <li class="description">{{ field.description|urlize }}</li>
                {% endif %}
                <li>{{ field }}</li>
                {% for error in field.errors %}
                    <li class="error">{{ error }}</li>
                {% endfor %}
            </ul></li>
        {% endif %}
    {% endfor %}</ul>

    <p><input type="submit" value="{{ submit_text }}" /></p>
{% endmacro %}
