{% extends 'base.html' %}

{% block extrahead %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/hero.js') }}"></script>
{% endblock %}

{% block hero %}
    <div id="herowrapper">
        <div id="hero"
            data-images="{{ url_for('static', filename='img/hero1.jpg') }};{{ url_for('static', filename='img/hero2.jpg') }};{{ url_for('static', filename='img/hero3.jpg') }}"
            data-images-retina="{{ url_for('static', filename='img/hero1@2x.jpg') }};{{ url_for('static', filename='img/hero2@2x.jpg') }};{{ url_for('static', filename='img/hero3@2x.jpg') }}">
        </div>
        <div id="herobuttons">
            <a id="heroprev"></a>
            <a id="heronext"></a>
        </div>
    </div>
{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div class="column primary{% if entry %} entry{% endif %}">
        {% if entry %}
            <h2><a href="{{ url_for('entry_detail', pk=entry.id) }}" class="quiet">{{ entry.title }}</a></h2>
            {% set preview, truncated = entry.get_preview(500) %}
            {{ preview|safe }}
            {% if truncated %}<p><a href="{{ url_for('entry_detail', pk=entry.id) }}">Continue Reading</a></p>{% endif %}
        {% else %}
            <h2><a href="{{ url_for('blog') }}" class="quiet">News</a></h2>
            <p>No news</p>
        {% endif %}
    </div>

    <div class="column secondary">
        <h2><a href="{{ url_for('recruiting') }}" class="quiet">Join us!</a></h2>

        <p>If you're interested in the sport, we'd love to talk to you. Visit our <a href="{{ url_for('recruiting') }}">recruiting page</a> for more information.</p>
    </div>
{% endblock %}
