{% extends 'base.html' %}

{% block extrahead %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/transition.js') }}"></script>
{% endblock %}

{% block hero %}
    <div class="hero">
        <img src="{{ url_for('static', filename='img/hero1.png') }}" />
        <img src="{{ url_for('static', filename='img/hero2.png') }}" class="next" />
        <img src="{{ url_for('static', filename='img/hero3.png') }}" class="next" />
        <img src="{{ url_for('static', filename='img/hero4.png') }}" class="next" />
        <img src="{{ url_for('static', filename='img/hero5.png') }}" class="next" />
    </div>
{% endblock %}

{% block content %}
    <!--div class="column thirdcol">
        <h2><a href="#" class="quiet">Upcoming events</a></h2>
        {% if events %}
            <ul>{% for event in events %}
                    <li><a>{{ event.title }}</a> <span>{{ event.start_date }}</span></li>
            {% endfor %}</ul>
        {% else %}
            <p>No events</p>
        {% endif %}
    </div-->

    <div class="column twothirdcol">
        {% if entry %}
            <h2><a href="{{ url_for('entry_detail', pk=entry.id) }}" class="quiet">{{ entry.title }}</a></h2>
            {% set preview, truncated = entry.get_text_preview(500) %}
            {{ preview|safe }}
            {% if truncated %}<p><a href="{{ url_for('entry_detail', pk=entry.id) }}">Continue Reading</a></p>{% endif %}
        {% else %}
            <h2><a href="{{ url_for('blog') }}" class="quiet">News</a></h2>
            <p>No news</p>
        {% endif %}
    </div>

    <div class="column thirdcol">
        <h2><a href="#" class="quiet">We're recruiting!</a></h2>
        <p>Do you sometimes wake up at six in the morning and glance wistfully towards the nearest body of water without knowing why? We can help! Visit our <a href="{{ url_for('recruiting') }}">recruiting page</a> for more information.</p>
    </div>
{% endblock %}
