{% extends 'base.html' %}

{% block title %}About - {{ super() }}{% endblock %}

{% block content %}
    <div class="column threequartercol">
        <h1>About Us</h1>
        <p>Rice University Crew boasts being one of the few elite private university rowing programs in the south. Rice Crew is a tight knit family of rowers from different academic disciplines and residential colleges from around campus. Currently this family is comprised of around 30 student rowers that make up the men and women’s crews. The team demands a dedicated practice schedule in anticipation for the yearly regattas while making sure students are balancing their academic workload and other commitments. The current regattas of focus are the Head of the Colorado (PumpkinHead), held annually on the last Saturday of October, and Heart of Texas, held annually in the spring. These are both hosted by Austin Rowing Club, in Austin Texas. Other regattas the team may consider attending on a year to year basis include: Head of the Hooch, Head of the Charles, Slay the Dragon, Winter Warrior, and others.</p>
        <p>“The leadership and teamwork skills that the students gain coming through this program applies directly to their careers and adult lives beyond the hedges,” says Alex Reis, President of the 2012 and 2013 teams. “Rice Crew is unlike any other club sport on campus. It demands time, strength, dedication, and a genuine love for rowing. We can only afford to take the best of the best.”</p>

        <h2>Facilities</h2>
        <p>Currently, Rice Crew houses its boats at Bay Area Rowing Club on Clear Lake. Rice Crew and BARC have been affiliated for over twenty years. This long lasting relationship between Rice Crew and BARC has been encourage and maintained largely in part by club leadership and the current club sponsor, Hannes Hofer. Clear Lake, located southeast of Houston near NASA’s Johnson Space Center, is a part of the Galveston Bay Area. This body of water, and the protective inlet the team rows on, provides very suitable water for the sport. The protective inlet, known as Mud Lake, provides a wide 3 km course with calm beautiful water.</p>
        <p>On campus, the Rice Crew members enjoy access to the Gibbs Recreation and Wellness Center in addition to their privately owned erg room in the back of Tudor Fieldhouse. Both of these locations allow for the development and continuation of the team’s fitness programs.</p>

        <h2>Coaching Staff</h2>
        <ul>
            <li>
                <h3>Michael Matson</h3>
                <p>A local Houstonian, Mike Matson had never experienced rowing until his first summer at the United States Naval Academy. During "Plebe Summer," all incoming freshmen pull a 500-m piece for time. Pulling sub-1:25, he was invited to join the freshmen team and later the JV team as he rowed with Navy for 3 years. Mike has been volunteering with Rice Crew since he started graduate school in the Dept of Chemistry in 2006. You can find Mike screaming at rowers (either at Rice or many of the instructional clinics he coaches around town), passed out on the floor at Atomic CrossFit, or at the zoo with his wife, Samantha, and kids, Morgan and Cooper.</p>
            </li>
            <li>
                <h3>David Alviar</h3>
                <p>David Alviar began rowing as sophomore at the University of Texas at Austin.  Though beginning as a bow seat, David transitioned to stroking the varsity 8+ a year after joining the team.  Racing and medalling across the country at regattas such as the Crew Classic, Head of the Charles, Head of the Hooch, Canadian Henley, and ECACs, David earned enough experience to begin coaching junior novices at Texas Rowing Center in 2007 until graduating from UT in 2009.  David subsequently spent three years teaching as a Teach for America 2009 corps member in his hometown of Houston and has since joined Rice University to assist in development of STEMscopes, a K-12 science curriculum.  David spends his free time checking national parks off his list of travel locations, biking, and producing fast Rice rowers.</p>
            </li>
        </ul>
        <p>The team receives additional coaching assistance from Rishi Singh (Greater Houston Rowing Club), Greg Wood (Bay Area Rowing Club), and Hannes Hofer (Club Sponsor).</p>

        <h2>Academics</h2>
        <p>Rice University offers a strong academic program, a comprehensive research community, the residential college system, a diverse student population, and many more components that help rank it consistently among the best values for higher education. Check out the <a href="http://futureowls.rice.edu/home.aspx">Future Owls webpage</a> for more information on Rice University and to find out why so many students choose Rice.</p>
    </div>

    <div class="column quartercol">
        <h2>More Information</h2>
        <ul>
            <li><a href="{{ url_for('recruiting') }}">Recruiting</a></li>
            <li><a href="{{ url_for('history') }}">Club History</a></li>
        </ul>
    </div>
{% endblock %}
