{% extends 'base.html' %}

{% block title %}Club History - {{ super() }}{% endblock %}

{% block content %}
    <div class="column threequartercol">
        <h1>Club History</h1>
        <p>Rice Crew, also known as Rice University Rowing Club, is a relatively young program that was started in 1989. A small group of students, led by Andrew Lewis, interested in starting up the club put an ad in the Rice Thresher looking for interested students and a potential coach. They managed to recruit former Danish world-class rower, Hannes Hofer, a staff member of Rice Facilities, Engineering and Planning. Hannes, a member of the Bay Area Rowing Club (BARC), helped connect the small team with a boat and facility. Within a few years, the team was competing regularly at regattas from Austin to Boston. The team was very successful and among numerous accolades, the most notable was the 1999 Rice University Men’s Collegiate 8+ took 3rd place at the Head of the Charles regatta in Boston, Massachusetts. Hannes retired as coach the following year, and for the next decade, the team worked with a variety of community volunteers who helped guide the team.</p>
        <p>A current revival initiative lead by the current leadership and the newly selected coaches, David Alviar and Michael Matson, has goals to set the club team amongst the most competitive and reputable rowing programs in the south and ultimately the country. If you are interested in becoming a part of this movement, check out the recruitment page for more information. If you have coaching experience and would like to connect with the current leadership and coaches about getting involved, please email <a href="mailto:ricerowing@gmail.com">ricerowing@gmail.com</a>.<p>
    </div>
{% endblock %}
