{% extends 'base.html' %}

{% block title %}Recruiting - {{ super() }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
    <li><a href="{{ url_for('recruiting') }}">Recruiting</a></li>
{% endblock %}

{% block content %}
    <div class="column threequartercol">
        <h1>Recruiting</h1>
        <p>Recruitment with Rice Rowing only occurs once prospective rowers have applied and been accepted through Rice University general admissions. Look for the club at the Activities Fairs at the beginning of the academic year to talk with the current leadership about the program and what the commitment is like. The club also does recruitment throughout the year, so if you are interested in joining at any time, please email <a href="mailto:ricerowing@gmail.com">ricerowing@gmail.com</a>.<p>

        <h2>Frequently Asked Questions</h2>

        <p><strong>How frequently do you go out for water practices? How much gym time is required?</strong></p>
        <p>Our current practice schedule has the team practicing on the water three times a week and in our workout room three times a week as well. As we approach regattas, water practice times increase to accommodate the intensifying practice schedule. Boats have varying degrees of competitiveness depending on the constituents, which varies the demand of the training program.</p>

        <p><strong>Do I need to have prior rowing experience?</strong></p>
        <p>No! Each year the team recruits inexperienced students to join the novice group. Contact the club leadership at any point in the year to come out and learn to row to see if you are interested in continuing the sport!</p>

        <p><strong>I am not a student member of Rice University; can I still row with your team?</strong></p>
        <p>Unfortunately, no, Rice Crew cannot take members outside of the undergraduate student population. Funds allocated each year from the Club Sports office are solely intended for the undergraduate experience; that being the case, they do not permit registration of persons not enrolled in the Rice University undergraduate program.</p>

        <p><strong>I’m loud, small and light… I feel like I don’t have the best rower build, but is there something I can do?</strong></p>
        <p>Yes! 4+ and 8+ sweep boats require coxswains! Coxswains are preferably smaller people that can be loud and commanding while we row. The coxswain typically sits in the back (stern) of the boat, steers, and gives feedback to the rowers during practices and regattas. You don’t need any experience as a coxswain, and we are always in need of more! The time commitment is a little less strenuous than the rowers, simply because you do not have to attend all of the land workouts.</p>
    </div>
{% endblock %}
