/* header */

nav#mainnav
{
    background-color: rgb(0,36,106);
    color: white;
    overflow: hidden;
}

nav#mainnav a
{
    color: white;
}

nav#mainnav a:hover
{
    background-color: rgb(45,91,181);
}

a#homelink
{
    display: block;
    margin: 0.5em 1em;
    float: left;
}

a#homelink > img
{
    height: 2em;
    display: block;
}

a#menulink
{
    display: none;
    margin: 0.5em 1em;
    padding: 0;
    float: right;
}

a#menulink > img
{
    height: 2.5em;
    display: block;
}

nav#mainnav ul
{
    margin: 0.75em 1em;
    float: right;
}

@media not all and (min-width: 768px) {

    a#menulink
    {
        display: block;
    }

    nav#mainnav ul
    {
        float: none;
        clear: both;
        margin: 0;
        padding: 0 1em;
        background-color: rgb(64,64,64);
        display: none;
    }

    nav#mainnav ul.expanded
    {
        display: block;
    }

    nav#mainnav ul > li
    {
        float: none;
        margin: 1.5em 0;
    }

    nav#mainnav ul a
    {
        display: inline;
    }

    nav#mainnav ul a:hover
    {
        background-color: rgb(160,160,160);
    }

}


/* hero photo */

div#herowrapper
{
    background-color: rgb(64,64,64);
    height: 380px;
    overflow: hidden;
}

div#hero
{
    max-width: 2000px;
    height: 492px;
    position: relative;
    top: -28px;
    margin: 0 auto;
    overflow: hidden;
}

div#hero > img
{
    position: absolute;
    left: -1024px;
    margin: 0 50%;
    opacity: 1;

    -webkit-transition-property: left, opacity;
    -moz-transition-property: left, opacity;
    -ms-transition-property: left, opacity;
    -o-transition-property: left, opacity;
    transition-property: left, opacity;

    -webkit-transition-duration: 0.75s;
    -moz-transition-duration: 0.75s;
    -ms-transition-duration: 0.75s;
    -o-transition-duration: 0.75s;
    transition-duration: 0.75s;
}

div#hero.manual-transition > img
{
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

div#hero > img.next
{
    left: -1000px;
    opacity: 0;
}

div#hero > img.prev
{
    left: -1048px;
    opacity: 0;
}

div#herobuttons
{
    position: relative;
    top: -492px;
    height: 380px;
}

a#heroprev, a#heronext
{
    display: none;
    width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;

    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;

    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -ms-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;

    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -ms-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

div#herowrapper:hover a#heroprev, div#herowrapper:hover a#heronext
{
    opacity: 0.4;
}

div#herowrapper:hover a#heroprev:hover, div#herowrapper:hover a#heronext:hover
{
    opacity: 0.8;
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

a#heroprev
{
    left: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

a#heronext
{
    right: 0;
}

@media not all and (min-width: 768px) {

    div#herowrapper
    {
        height: 190px;
    }

    div#hero
    {
        max-width: 1000px;
        height: 246px;
    }

    div#hero > img
    {
        height: 246px;
        left: -512px;
    }

    div#hero > img.next
    {
        left: -500px;
    }

    div#hero > img.prev
    {
        left: -524px;
    }

    div#herobuttons
    {
        position: relative;
        top: -246px;
        height: 190px;
    }

}


/* breadcrumbs */

div#breadcrumbs
{
    background-color: rgb(232,232,232);
    overflow: hidden;
}

div#breadcrumbs ol
{
    margin: 0.5em 0;
    padding: 0 1.5em;
    overflow: hidden;
}

div#breadcrumbs ol:empty
{
    display: none;
}

div#breadcrumbs ol > li
{
    position: relative;
    font-size: 0.75em;
    line-height: 1.5em;
    list-style-type: none;
    float: left;
}

div#breadcrumbs ol > li
{
    padding-right: 2em;
}

div#breadcrumbs ol > li::after
{
    content: ">";
    position: absolute;
    right: 0.75em;
    color: rgb(128,128,128);
}

div#breadcrumbs ol > li:last-child
{
    padding-right: 0;
}

div#breadcrumbs ol > li:last-child::after
{
    display: none;
}

/* blog */

p.byline
{
    margin-top: -1.5em;
    color: rgb(160,160,160);
}

li.entry:first-child > :first-child
{
    margin-top: 0;
}

.entry img
{
    max-width: 100%;
    max-height: 15em;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -ms-transition-property: -ms-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -ms-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
}

.entry img.expandable:hover
{
    opacity: 0.6;
}

.entry img.expandable.expanded
{
    max-height: none;
    opacity: 1;
}

.entry img.manual-transition
{
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
